parameters:
	ignoreErrors:
		-
			message: "#^Method Paysera\\\\DeliverySdk\\\\Collection\\\\OrderItemsCollection\\:\\:current\\(\\) should return Paysera\\\\DeliverySdk\\\\Entity\\\\MerchantOrderItemInterface but returns Paysera\\\\DeliverySdk\\\\Collection\\\\ItemInterface\\.$#"
			count: 1
			path: src/Collection/OrderItemsCollection.php

		-
			message: "#^Interface Paysera\\\\DeliverySdk\\\\Entity\\\\DeliveryTerminalLocationInterface extends generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Entity/DeliveryTerminalLocationInterface.php

		-
			message: "#^Interface Paysera\\\\DeliverySdk\\\\Entity\\\\MerchantOrderAddressInterface extends generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Entity/MerchantOrderAddressInterface.php

		-
			message: "#^Interface Paysera\\\\DeliverySdk\\\\Entity\\\\MerchantOrderInterface extends generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Entity/MerchantOrderInterface.php

		-
			message: "#^Interface Paysera\\\\DeliverySdk\\\\Entity\\\\MerchantOrderPartyInterface extends generic interface ArrayAccess but does not specify its types\\: TKey, TValue$#"
			count: 1
			path: src/Entity/MerchantOrderPartyInterface.php

		-
			message: "#^Property Paysera\\\\DeliverySdk\\\\Exception\\\\DeliveryOrderRequestException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Exception/DeliveryOrderRequestException.php

		-
			message: "#^Property Paysera\\\\DeliverySdk\\\\Exception\\\\MerchantClientNotFoundException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Exception/MerchantClientNotFoundException.php

		-
			message: "#^Property Paysera\\\\DeliverySdk\\\\Exception\\\\UndefinedDeliveryGatewayException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Exception/UndefinedDeliveryGatewayException.php

		-
			message: "#^Property Paysera\\\\DeliverySdk\\\\Exception\\\\UndefinedDeliveryOrderException\\:\\:\\$message has no type specified\\.$#"
			count: 1
			path: src/Exception/UndefinedDeliveryOrderException.php

		-
			message: "#^Method Paysera\\\\DeliverySdk\\\\Util\\\\Container\\:\\:getDependencies\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Util/Container.php


		-
			message: "#^Property Paysera\\\\DeliverySdk\\\\Util\\\\Container\\:\\:\\$instances type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Util/Container.php
